.swiper {
    margin: 100px auto;
    width: 320px;
    height: 240px;
    background-color: #514f4f;
    top: -80px;
    left: 400px;
    border-radius: 2%;
}

.swiper-slide {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.imagen-ingredients {
    padding-left: 40px;
}

@media (max-width:650px) {
    .swiper {
        left: 0;
        top: 0;
    }
}