.perfomance-container {
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: visible
}

.card-div {
    display: flex;
    overflow: visible;
    height: 100%;
    position: sticky;

    top: 0;
}

.textleft-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 750px;



}

.first-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 40px 0 0 40px
}

.perfomance-number {
    max-width: fit-content;
    max-height: fit-content;
    color: rgb(240 138 83);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.perfomance-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(26 26 43);
}

.p-bottom-content {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding-top: 80px;
    padding-left: 30px;
    max-width: max-content;
    max-height: min-content;
    color: rgb(26 26 43);
}



.imagen-div {


    width: 769px;
    margin: 0;
    flex: 1;
    height: 100vh;
    height: 100%;



}

.imagen-product {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}


.gotas-imagen {
    height: 100%;
    animation: bounce 4s linear infinite
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media (max-width:650px) {
    .first-container {
        padding: 10px 0 0 0;
        align-items: center;
        height: 70%;
        justify-content: center;
    }

    .imagen-div {
        width: 100%;
        height: 100%;

    }

    .gotas-container {
        display: none;
    }

    .p-bottom-content {
        padding-left: 0;
    }

    .gotas-imagen {
        width: 100%;
    }

    .imagen-product {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .card-div {
        flex-direction: column;
        position: initial
    }

    .p-bottom-content {
        padding: 0 0 30px 10px
    }

    .textleft-div {
        width: 100%;
    }

    .perfomance-title {
        height: fit-content;
        font-size: 1.5rem;
    }
}